body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
header {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex; /* This makes it a flex container */
    justify-content: center; /* This centers the content horizontally */
    align-items: center; /* This centers the content vertically */
    height: 100%;
}
h1{
    color: white;
}
#Logo {
    position: flex;
    z-index: -1;
    margin-top: -150px;
    padding-left: 10px;
    display: block;
    width: 60%;
    height: 60%;
}
#MainTitle{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Merriweather', serif;
    z-index: 1;
}
#SubTitle{
    font-size: 20px;
    padding-top: -10px;
    padding-left: -20%;
    color: rgb(190, 190, 190);
    font-family: 'Merriweather', serif;
    z-index: 1;
    font-family: 'Merriweather', serif;
}
#Apps{
    display: flex; /* This makes it a flex container */
    justify-content: space-evenly; /* This centers the content horizontally */
    width: 80%;
    padding-bottom: 10%;
}
#YouTube{
    height: 350px;
    background-image: linear-gradient(to right, black 50%, transparent 90%), url('img/CodeForgeLogo.png');
    background-position: 0px, 120% 50%;
    background-size: auto, 60%;

    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#ChannelDesc{
    padding-left: 2%;
    width: 50%;
    color: white;
    font-size: 20px;

}
.ProjectsIcons{
    height: 200px;
    width: auto;
}
.BasicContainer{
    padding-top: 50px;
    display: flex; /* This makes it a flex container */
    flex-direction: column; /* This makes it so the items are stacked vertically */
    justify-content: center; /* This centers the content horizontally */
    align-items: center; /* This centers the content vertically */
}
.ProjectContainer{
    width: 250px;
    color:white;
    display: flex; /* This makes it a flex container */
    flex-direction: column; /* This makes it so the items are stacked vertically */
    justify-content: center; /* This centers the content horizontally */
    align-items: center; /* This centers the content vertically */
}
.TitleDiv{
    padding-top: -10%;
    padding-left: -10%;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content {
    padding-top: 35px;
    padding-bottom: 50px;
    position: relative;
    backdrop-filter: blur(10px); /* Adjust the pixel value to increase or decrease the blur */
    /* Other styling for your content */
}
.TopNavBar {
    background-color: transparent;
    overflow: hidden;
    position: relative;
    top: 0;
    z-index: 1; /* Lower than the logo */
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* This centers the items horizontally */
}

nav ul li {
    display: inline-block; /* Changed to inline-block for better control */
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #007bff;
}
nav ul li::after {
    content: "|";
    position: absolute;
    right: -12px; /* Adjust as needed to center the separator */
    top: 50%; /* Adjust if needed to align vertically */
    transform: translateY(-50%); /* Center vertically */
    color: rgb(204, 204, 204); /* Adjust color as needed */
}

nav ul li:last-child::after {
    content: none; /* Removes the divider after the last item */
}

footer {
    background-color: #333; /* Footer background color */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-media-buttons {
    display: inline-block; /* Align buttons in a row */
}

.social-button {
    color: white; /* Button text/icon color */
    margin: 0 10px; /* Spacing between buttons */
    font-size: 24px; /* Icon size */
    text-decoration: none; /* Remove underline from links */
}

/* Specific styles for different social media buttons (optional) */
.facebook:hover { color: white; }
.twitter:hover { color: #f21d1d; }
.instagram:hover { color: #6530e1; }